


    body {
  background-color: #e6cfcf;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

/* TÍTULO */
h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.sub {
  text-align: center;
  margin-bottom: 10px;
}

/* BARRA ROSA */
h2 {
  text-align: center;
  background-color: #e8bcbc;
  padding: 10px;
  margin: 10px 0;
}

/* LINHA */
.linha {
  font-size: 18px;
  margin: 20px 0;
}

/* BLOCO */
.card {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* IMAGEM */
.card img {
  width: 60%;
}

/* TEXTO */
.card p {
  width: 40%;
  font-size: 18px;
}
